:root {
    /* Variables globales */
    --border: 1px solid #dbdbdb;
    --blanco: white;
    --azulInstagram: #0095f6;
    --azulEnlace: #3eb2ff;
    --azulFacebook: #3b5998;
    --fondoCarne: #f7f7f7;
    --textoFooter: #00376B;
    --textoFooterTenue: #5f5f5f;;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondoCarne);
}

#principal {
    display: flex;
    justify-content: center;
    width: 98vw;
    height: 825px;
    padding-bottom: 44px;
}

#imagen{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#imagen img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38px;
    height: 590px;
    margin-right:10px;
}

@media screen and (max-width:875px) {
    #imagen {
        display: none;
    }
}

#contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 38px;
    width: 350px;
    height: 738px;
}

#main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 10px;
    height: 380px;
    width: 100%;
    border: var(--border);
    background-color: var(--blanco);
}

#main-block img {
    margin: 15px 0px 6px 0;
}

#main-block form {
    width: 100%;
    padding: 0 40px;
    margin-top: 10px;
}

#main-block form .form-group {
    margin-bottom: 10px !important;
    background-color: var(--fondoCarne);
}

#main-block form button {
    background-color: var(--azulInstagram);
    font-size: .9em;
    letter-spacing: .2px;
    border: none;
    margin-top: 15px;
    height: 32px;
}

#bloque-lineas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 77%;
}

#bloque-lineas .linea {
    border: var(--border);
    height: 1px;
    width: 100%;

}

#bloque-lineas #separador {
    margin: 0 10px;
    color: #9c9c9c;
    font-size: 1.1em;
}

#banner-facebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: var(--azulFacebook);
    font-size: .9em;
}

#banner-facebook i {
    margin: 0 8px 0 0;
    padding: 0;
    font-size: 1.4em;
}

#recuerda-pass {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #00376b;
}


#register-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    height: 66px;
    width: 100%;
    border: var(--border);
    background-color: var(--blanco);
    font-size: 14px;
    letter-spacing: .5px;
}

#register-block>span {
    color: var(--azulEnlace);
    font-weight: bold;
    margin-left: 3px;
}

#app-block {
    width: 100%;
    height: 102px;
}

#app-block #descarga-text {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin: 10px 20px;
}

#app-block #bloque-imagenes {
    padding: 0 28px;
    display: flex;
    justify-content: space-evenly;
}

#app-block .imagen {
    width: 136px;
    height: 40px;
    margin: 10px 0px;
}

footer {
    min-height: 122px;
    padding: 0 20px;
    color: var(--textoFooter);
    /* font-weight: bold;
    width: 100%;
    min-height: 122px;
   
    align-items: center; */
   
}

#contenido-footer {
    margin: 0 auto;
    min-height: 122px;
    max-width: 1012px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}



#contenido-footer>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 856px;
    list-style: none;
}

@media screen and (max-width:875px){
    #contenido-footer>ul {
        margin: 0 auto;
        justify-content: center;
        height:75px;
        width:360px;
    }
}


#contenido-footer>ul>li {
    font-size: 11px;
    margin-right: 18px;
    font-weight: bold;
}

@media screen and (max-width:875px){
    #contenido-footer>ul>li {
        margin: 0 10px ;
    }
}



footer > div >span {
    font-size: 12px;
  color: var(--textoFooterTenue);
  letter-spacing:.3px;
}

@media screen and (max-width:875px){
    #contenido-footer span {
        margin: 0 auto;
        margin-top:5px;
    }
}
